<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="form-group" style="display: flex; align-items: center; margin: 0;">
        <a class="navbar-brand" href="/" style="display: flex; align-items: center;">
          <h1 style="font-family: 'Comic Sans MS', cursive; font-size: 35px; color: white; margin: 0;">T.I. Educa</h1>
        </a>
      </div>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles" style="color:rgb(255, 255, 255); text-decoration: underline;">Artigos</a>
        </li>
        <li class="nav-item">    
            <a class="nav-link" href="/admin/categories" style="color:rgb(255, 255, 255); text-decoration: underline;">Categorias</a>
        </li>
        <li class="nav-item">    
            <a class="nav-link" href="/admin/users" style="color:rgb(255, 255, 255); text-decoration: underline;">Usuários</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">    
        <div class="d-flex">
            <a class="btn btn-danger rounded-pill" style="border: #9a0404 3px solid" href="/logout">Logout</a>
        </div>
    </ul>
</nav>